In [1]:
l = [1, 2, 3, 4, 5]

In [6]:
for i in l : 
    print(i)

1
2
3
4
5

In [7]:
l1 = ["Priyanshu", "Yadav"]

In [9]:
for i in l1 :
    print(i)

Priyanshu
Yadav

In [10]:
# for else loop

In [14]:
for i in l1 :
    print(i)
else :
    print("do something")
# else will be executed when for loop is successfully executed then else will be executed

Priyanshu
Yadav
do something

In [15]:
l1

['Priyanshu', 'Yadav']

In [18]:
for i in l1 :
    if i == "Yadav" :
        break
    print(i)

Priyanshu

In [21]:
for i in l1 :
    if i == "Yadav" :
        break
    print(i)
else :
    print("execute this if for loop is able to complete itself")

Priyanshu

In [23]:
l1

['Priyanshu', 'Yadav']

In [24]:
for i in l1 :
    if i == "Priyanshu" :
        continue
    print(i)

Yadav

In [ ]:
for i in l1 :
    if i == "Priyanshu" :
        continue
    print(i)
else :
    print("execute this if for loop is able to complete itself")

In [26]:
range(5)

range(0, 5)

In [28]:
list(range(5))

[0, 1, 2, 3, 4]

In [29]:
list(range(0, 5, 2))

[0, 2, 4]

In [32]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [33]:
list(range(-10, 0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [34]:
l1

['Priyanshu', 'Yadav']

In [40]:
l1 = ['Priyanshu', 'Yadav']

In [41]:
l1

['Priyanshu', 'Yadav']

In [42]:
l1.insert(2, "Ayush")

In [43]:
l1.insert(3, "Jimmy")

In [44]:
l1

['Priyanshu', 'Yadav', 'Ayush', 'Jimmy']

In [45]:
len(l1)

4

In [46]:
list(range(len(l1)))

[0, 1, 2, 3]

In [47]:
for i in range(len(l1)) :
    print(l1[i])

Priyanshu
Yadav
Ayush
Jimmy

In [53]:
list(range(len(l1)-1, -1, -1))

[3, 2, 1, 0]

In [56]:
for i in range(len(l1)-1, -1, -1):
    print(l1[i])

Jimmy
Ayush
Yadav
Priyanshu

In [57]:
l2 = [23, 5, 45, 56, 6, 67, 67, 78, 87, 8998, 8]

In [59]:
list(range(0, len(l2), 2))

[0, 2, 4, 6, 8, 10]

In [61]:
for i in range(0, len(l2), 2) :
    print(l2[i])

23
45
6
67
87
8

In [63]:
l = [1, 2, 3, 4, 7, 8, 98]

In [66]:
l

[1, 2, 3, 4, 7, 8, 98]

In [72]:
sum = 0
for i in l :
    sum = sum + i

In [73]:
sum

123

In [74]:
s1 = "RadheRadhe"

In [75]:
for i in s1 :
    print(i)

R
a
d
h
e
R
a
d
h
e

In [77]:
t = (1, 1, 2, 3, "Priyanshu", "Hi")

In [79]:
for i in t :
    print(i)

1
1
2
3
Priyanshu
Hi

In [80]:
s = {1, 8, 9, "Priyanshu", "Yadav", "Machine Learning", "Data Science"}

In [81]:
for i in s :
    print(i)

1
Priyanshu
Machine Learning
Data Science
8
9
Yadav

In [82]:
d = {"name" : "Priyanshu", "course" : "Data Science", "age" : "21"}

In [85]:
d.items()

dict_items([('name', 'Priyanshu'), ('course', 'Data Science'), ('age', '21')])

In [86]:
list(d.items())

[('name', 'Priyanshu'), ('course', 'Data Science'), ('age', '21')]

In [87]:
d.keys()

dict_keys(['name', 'course', 'age'])

In [88]:
for i in d.keys() :
    print(d[i])

Priyanshu
Data Science
21

In [89]:
d.items()

dict_items([('name', 'Priyanshu'), ('course', 'Data Science'), ('age', '21')])

In [90]:
for i in d.items() :
    print(i)

('name', 'Priyanshu')
('course', 'Data Science')
('age', '21')

In [95]:
name = "p w s k i l l s"

In [96]:
" ".join(name.replace(" ", ""))

'p w s k i l l s'

TypeError: 'str' object cannot be interpreted as an integer