In [1]:
# functions in python

In [2]:
# starts with def keyword 
# increases code reuseablity

In [3]:
def type() :
    print("Hello from type function ")

In [5]:
type()

Hello from type function

In [6]:
def test1() :
    print("This is my first function")

In [7]:
test1()

This is my first function

In [8]:
def sum(a, b) :
    ans = a + b
    return ans

In [9]:
sum(5, 5)

10

In [10]:
def func() :
    str = "Hello"
    return str

In [11]:
word = func() + 'hi'

In [12]:
word

'Hellohi'

In [13]:
def func3() :
    return "sudh", 23, 345.323, [1, 2, 3]

In [14]:
func3()

('sudh', 23, 345.323, [1, 2, 3])

In [15]:
a, b, c, d =  func3()

In [16]:
a

'sudh'

In [17]:
b

23

In [18]:
c

345.323

In [19]:
d

[1, 2, 3]

In [24]:
def test4() :
    a = ((5 + 6) / 7)
    return a

In [25]:
test4()

1.5714285714285714

In [26]:
def test5(a, b, c) :
    ans = a * b / c
    return ans

In [27]:
test5(2, 2, 2)

2.0

In [28]:
def test6(a, b) :
    return (a + b)

In [50]:
test6([1, 2, 3, 4], [4, 5, 6])

[1, 2, 3, 4, 4, 5, 6]

In [51]:
l = [1, 2, 3, 4, "sudh", "kumar", [3, 8, 6]]

In [54]:
def test7(l) :
    l1 = []
    for i in l :
        if type(i) == int or type(i) == float :
            l1.append(i)
    return l1

In [56]:
l

[1, 2, 3, 4, 'sudh', 'kumar', [3, 8, 6]]

In [57]:
l1

[]

In [58]:
def test8(a) :
    l = []
    for i in a :
        if type(i) == list :
            for j in i : 
                l.append(j)
        else :
            if type(i) == int or type(i) == float :
                l.append(i)
    return l

In [60]:
# test8(l)

In [61]:
def sum(a, b) :
    """this is my function to add two numbers a, b"""
    sum = a + b
    return sum

In [62]:
sum(5, 5)

10

In [63]:
# dynamically adding the argument 
def test11(*args) :
    return args

In [66]:
test11(2, 1, 3, "priyanshu", "yadav", "RaoSahab", [1, 2, 3, 4, 5])

(2, 1, 3, 'priyanshu', 'yadav', 'RaoSahab', [1, 2, 3, 4, 5])

In [71]:
def test12(*priyanshu) :
    return priyanshu

In [72]:
test12(1, 2, "RaoSahab", "RadheRadhe")

(1, 2, 'RaoSahab', 'RadheRadhe')

In [74]:
def test13(*args, a) :
    return args, a

In [75]:
test13(1, 2, 3, 4, a = "Ayush")

((1, 2, 3, 4), 'Ayush')

In [79]:
def test14(c, d, a = 23, b = 1) :
    return a, b, c, d